@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /* Evita el incremento del tamaño resultado de padding */
}

body{
    background-color: hsl(214, 39%, 7%);
    color: hsl(74, 51, 80);
    font-family: Figtree, sans-serif;
}
header{
    width: 1100px;
    height: 96px;
    margin: auto;
    background-color: hsl(75, 30%, 40%);

    /* Distribución del contenido */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    header img{
        margin-left: 16px;
    }

    header nav a{
        margin: 8px;
        font-size: 20px;
        color: #fff;
        text-decoration: none; /* quitar subrayado */
    }

main{
    width: 1100px;
    min-height: 700px;
    margin: auto;
}

/* hero banner */
#hero{
    height: 456px;
    margin-top: 56px;
    background-image: url(../imgs/hero-image.jpg);

    display: flex;
    align-items: center;
}
    #hero h1{
        margin-left: 96px;
        padding: 8px 16px;
        background-color: hsla(0, 0%, 12%, .4);
        font-size: 40px;
        font-weight: 400;
        color: hsl(0, 0%, 100%);  
    }

/* sección servicios */
#servicios{
    height: 408px;
    margin-top: 56px;
    padding: 32px 40px;
    background-color: hsl(215, 37%, 10%);
    display: flex;
    justify-content: space-between;
}

    #servicios article{
        width: 296px;
        background-color: hsl(213, 38%, 14%);
        color: #fff;
    }
        #servicios article h2{
            margin: 8px 16px;
            font-weight: 400;
        }
        #servicios article p{
            margin: 0px 16px 16px 16px;
        }

footer{
    width: 1100px; 
    height: 136px;
    margin: auto;
    background-color: hsl(210, 19%, 11%);
}