body{
    background-color: hsl(214, 39%, 7%);
    color: hsl(74, 51, 80);
}
header{
    width: 1100px;
    height: 96px;
    margin: auto;
    background-color: hsl(75, 30%, 40%);
}
main{
    width: 1100px;
    height: 700px;
    margin: auto;
}
footer{
    width: 1100px; 
    height: 136px;
    margin: auto;
    background-color: hsl(210, 19%, 11%);
}